@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    if (User.Identity.IsAuthenticated)
    {
        Layout = "_LayoutLogedIn";
    }
}

<h1>Hejsan och välkommen till Apple Store (den riktiga)</h1>

